$primary-dark: #343F3E;
$primary-mid: #505A5B;
$primary-light: #8F91A2;

$secondary-dark: #94B0DA;
$secondary-mid: #C2D2EA;
$secondary-light: #DCEDFF;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;