@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

.exercise-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @include tablet{
        flex-direction: row;
        padding: 1rem;
    }

    @include desktop{}

    &__video{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        gap: 1rem;
        background-color: rgba(255, 255, 255, .15);  
        backdrop-filter: blur(.3125rem);
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0rem .3125rem .9375rem;
        width: 95%;
    
        &-iframe {
            height: 10.625rem;
            width: 18.75rem;
            resize: both;
            overflow: auto;

            @include desktop{
                width: 43.75rem;
                height: 24.6875rem;
            }
        }
    }

    &__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        &-description, &-instructions{
            padding: 1rem;
            background-color: rgba(255, 255, 255, .15);  
            backdrop-filter: blur(.3125rem);
            border-radius: 1.25rem;
            box-shadow: rgba(0, 0, 0, 0.35) 0rem .3125rem .9375rem;
            width: 90%;
            will-change: transform, background-color;

            &:hover{
                background-color: rgba(255, 255, 255, 0.319);  
                transform: scale(1.05);
                border-radius: 1.25rem;
                border: none;
            }
        }
    }
}
