@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    background-color: $primary-mid;
}