@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    background-color: $secondary-dark;
    overflow: hidden;
    color: black;

    &__list{
        padding: 0rem;
    }

    &__list-item-email{
        cursor: pointer;
    }

    a, a:visited{
        color: black;
    }
}
