@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;


.program-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    &__title{
    }

    &__day{
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075);
        width: 95%;
        padding: 1rem;
        margin: 0.5rem;
        border-radius: 20px;

        &-title{
            text-align: center;
            margin-bottom: 1rem;
        }
    }

    &__list{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        &-item{
            width: 100%;
            border-bottom: 1px solid black;
            padding: 0.5rem 1rem;
            
            display: flex;
            flex-direction: column;

            &:hover{
                background-color: #e0e0e0;
                transform: scale(1.05);
                border-radius: 20px;
                border: none;
            }

            &-details{
                display: flex;
                justify-content: space-between;
            }

            &-ranges{
                display: flex;
                gap: 5px;
            }

            .exercise-name{

                &:hover{
                    transform: scale(1.5);
                    color: $secondary-dark;
                }
            }
        }
    }
}