@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

.home{

    .program{
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/images/16143058_1761902157461079_30244307551749066_n.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 65vh;
        padding: 2rem;

        &-card{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            width: 60%;
            padding: 1rem;
            background-color: $primary-mid;
            border-radius: 20px;
            box-shadow: 0 5px 5px $primary-dark;
        }

        label{
            font-size: 20px;
            font-weight: 600;
            color: white;
            margin-bottom: 6px;
        }

        &-input{
            width: 100%;
            margin-bottom: 1rem;
            height: 2rem;
            border-radius: 20px;
            text-align: center;
            border: none;
            outline: none;

            &:hover {
                border: 2px solid $secondary-dark;
                background-image: none;
                outline: none;
            }
            &:focus {
                border: 2px solid $secondary-dark;               
                background-image: none;
                outline: none;
            }

            &__type{
                border-radius: 20px;
            }

            &__button{
                width: 40%;
                height: 2.5rem;
                padding-inline: 2rem;
                border: none;
                border-radius: 20px;
                color: black;
                background-color: $secondary-dark;
                font-weight: 600;
                font-size: 17px;

                &:hover{
                    background-color: $secondary-mid;
                }
            }
        }
    }
}

.difficulty-dropdown{
    padding-left: 0px;
    border-top-left-radius: 20px;
}

#hero-video{
    position: fixed;
    z-index: -1;
    width: 100%;
}